<div id="nav">
        <div class="title">
            <a href="/"><h1>Epitome</h1></a>
            <p>Draft your thoughts</p>
        </div>
        <ul>
            <a href="/"><li>Home</li></a>
            <a href="/about"><li>About</li></a>
            <a href="/search"><li>Search</li></a>
        </ul>
</div>