<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>
    <div id="main">
        <h1>About</h1>
        <p style="font-size: 20px;">'Epitome' is a note taking application, designed to draft your thoughts.</p>
        <p style="font-size: 20px; margin-bottom: -10px;">Features :</p>
        <ul style="font-size: 20px;">
            <li>Create a new note with the preferred category.</li>
            <li>Edit the title & content of an existing note.</li>
            <li>Delete any unwanted note.</li>
            <li>Sort the notes based on the category or title in the alphabatical order.
                By default the notes are ordered by the date created.</li>
            <li>Search using a keyword from the required note's title.</li>
        </ul>
    </div>
</body>
</html>